@model IEnumerable<Nurse>
@{
    ViewBag.Title = "Nurses Table";
}

<div class="card-deck">
    @foreach (var nurse in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@nurse.Name</h3>
            </div>
            <!-- <img class="card-img-top" src="~/images/car.jfif" asp-append-version="true" />-->
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="NurseDetails" asp-route-id="@nurse.Id" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>
