@model HomeNurseDetailsViewModel
@{
    ViewBag.Title = "Nurses";
    var photoPath = "~/img/" + (Model.Nurse.PhotoName??"maleicon.jpg");
}
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Nurse.Name</h1>
            </div>
            
        </div>
        <div class="card-body text-center">
            <img class="card-img-top" style="height:100pt;width:100pt;" src=@photoPath asp-append-version="true" />
            <h4>ID: @Model.Nurse.Id</h4>
            <h4>Email: @Model.Nurse.Email</h4>
            <h4>Deptartment: @Model.Nurse.Section</h4>
        </div>
        <div class="card-footer text-center">
            <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
